<!DOCTYPE html>
<html>
  <head>
    <title>Contact Manager</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper grey">
      <p class="brand-logo center">Contact Manager</p>
      <ul class="right hide-on-med-and-down white-text">
        <li><a href="/companies"><i class="material-icons">work</i></a></li>
        <li><a href="/people"><i class="material-icons">contacts</i></a></li>
        <li><a href="/phone_numbers"><i class="material-icons">contact_phone</i></a></li>
        <li><a href="/email_addresses"><i class="material-icons">email</i></a></li>
      </ul>
      <ul class="left hide-on-med-and-down white-text">
        <li><a href="/"><i class="material-icons">home</i></a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <div id="account" class="center">
        <div id="account">
        <% if current_user %>
          <%= link_to "Logout", logout_path, id: "logout", method: 'delete' %>
        <% else %>
          <%= link_to "Login", login_path, id: "login" %>
        <% end %>
        </div>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <%= yield %>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
